@{
    ViewBag.Title = "About";
}

<br />

<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center marb-35">
                <h1 class="header-h">Delicious Journey</h1>
                <p class="header-p">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                    <br>nibh euismod tincidunt ut laoreet dolore magna aliquam.
                </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <h2 class="heading">vel illum qui dolorem eum</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero impedit inventore culpa vero accusamus in nostrum dignissimos modi, molestiae. Autem iusto esse necessitatibus ex corporis earum quaerat voluptates quibusdam dicta!</p>
                        <div class="details-list">
                            <ul>
                                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li><i class="fa fa-check"></i>Quisque finibus eu lorem quis elementum</li>
                                <li><i class="fa fa-check"></i>Vivamus accumsan porttitor justo sed </li>
                                <li><i class="fa fa-check"></i>Curabitur at massa id tortor fermentum luctus</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <img src="/images/res01.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

<div class="row">

    <br />

    <div class="wpb_wrapper">
        <blockquote>
            <p>Ресторан &amp; бар AVIATOR — это головокружительный панорамный вид, авторский интерьер в стиле industrial, стеклянные стены на 52-м этаже башни Федерация комплекса Москва-Сити и авторская кухня.</p>
            <p>AVIATOR — то самое место, которое непросто найти: ресторан «спрятан» в укромном месте и попасть туда можно только заранее забронировав столик.</p>
            <p style="text-align: left;"><a href="tel:+79999879777">+7&nbsp;999&nbsp;987-9-777</a> / <a href="aviatorcity@gmail.com">aviatorcity@gmail.com</a></p>
        </blockquote>
    </div>

    <div class="wpb_wrapper">
        <blockquote>
            <p>
                В панорамных иллюминаторах AVIATORA всегда хорошая погода.
            </p>
            <p>
                Превосходные горизонты позволят вам смотреть дальше пределов вашего восприятия
            </p>
        </blockquote>

    </div>


</div>

<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="col-md-6 col-sm-6">
                    <div class="wpb_wrapper">
                        <p>Мы работаем ежедневно:</p>
                        <ul>
                            <li class="detail"><span class="day">пн —&nbsp;</span>15:00 — 03:00</li>
                            <li class="detail"><span class="day">вт —&nbsp;</span>15:00 — 03:00</li>
                            <li class="detail"><span class="day">ср —&nbsp;</span>15:00 — 03:00</li>
                            <li class="detail"><span class="day">чт — 15</span>:00 — 03:00</li>
                            <li class="detail"><span class="day">пт —&nbsp;</span>15:00 — 03:00</li>
                            <li class="detail"><span class="day">сб —&nbsp;</span>15:00 — 03:00</li>
                            <li class="detail"><span class="day">вс —&nbsp;</span>15:00 — 03:00</li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="wpb_gmaps_widget wpb_content_element">
                        <h2 class="wpb_heading wpb_map_heading">Мы здесь, приходите!</h2>	<div class="wpb_wrapper">
                            <div class="wpb_map_wraper">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2332.1618996307247!2d49.57009451601883!3d54.230323265830215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x416786f48740149b%3A0xd9b0f2d460a8e0f7!2z0JrQvtC80LzRg9C90LDQu9GM0L3QsNGPINGD0LsuLCAyNywg0JTQuNC80LjRgtGA0L7QstCz0YDQsNC0LCDQo9C70YzRj9C90L7QstGB0LrQsNGPINC-0LHQuy4sIDQzMzUwNA!5e0!3m2!1sru!2sru!4v1528554889606" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

@*<div class="large-6 columns">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="text-center animate-text loaded-text">
                        <a href="http://aviator.city/contacts/" class="btn btn-md btn-border-animate btn-dark   ">
                            <span class="btn-text ">
                                Как к нам попасть<span class="top button-border"></span>
                                <span class="left left-bottom button-border"></span>
                                <span class="left left-top button-border"></span>
                                <span class="bottom bottom-right button-border"></span>
                                <span class="bottom bottom-left button-border"></span>
                                <span class="right button-border"></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>	<div class="vc_empty_space">
        <span class="vc_empty_space_inner"></span>
        <div class="" style="height: 30px"></div>
    </div>

                        </div>
                    </div>
                </div><div class="large-12 columns"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div>
            </div><div class="row-border-wrapper"></div> <div class="vc_row-full-width vc_clearfix"></div>
        </div>

    <div class="row-wrapper  ">
        <div class="remove-gap">
            <div class="large-12 columns">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  animate-text loaded-text">
                            <div class="wpb_wrapper">
                                <blockquote>
                                    <p>
                                        В панорамных иллюминаторах AVIATORA всегда хорошая погода.
                                    </p>
                                    <p>
                                        Превосходные горизонты позволят вам смотреть дальше пределов вашего восприятия
                                    </p>
                                </blockquote>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="row-border-wrapper"></div> <div class="vc_row-full-width vc_clearfix"></div>
    </div>

    <div class="row-wrapper  ">
        <div class="vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
            <div class="large-6 columns">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper img-wrapper   vc_box_border_grey loaded-img"><div class="vc-zoom-wrapper" style="position: relative; overflow: hidden;"><img width="900" height="600" src="http://aviator.city/wp-content/uploads/2017/01/aviator_05-1024x683.jpg" class="vc_single_image-img attachment-large" alt="" srcset="http://aviator.city/wp-content/uploads/2017/01/aviator_05-1024x683.jpg 1024w, http://aviator.city/wp-content/uploads/2017/01/aviator_05-300x200.jpg 300w, http://aviator.city/wp-content/uploads/2017/01/aviator_05-768x512.jpg 768w, http://aviator.city/wp-content/uploads/2017/01/aviator_05-680x454.jpg 680w, http://aviator.city/wp-content/uploads/2017/01/aviator_05-e1497536253584.jpg 600w" sizes="(max-width: 900px) 100vw, 900px"><img src="http://aviator.city/wp-content/uploads/2017/01/aviator_05-1024x683.jpg" class="zoomImg" style="position: absolute; top: -21.9946px; left: -289.005px; opacity: 0; width: 1024px; height: 683px; border: none; max-width: none; max-height: none;"></div></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div><div class="large-6 columns">
                <div class="vc_column-inner vc_custom_1484923152964">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  animate-text loaded-text">
                            <div class="wpb_wrapper">
                                <blockquote>
                                    <p style="text-align: left;"><strong>Основной зал</strong></p>
                                    <p style="text-align: left;">Большое светлое «воздушное» пространство с неповторимым видом на всю Москву.</p>
                                    <p style="text-align: left;"><em>Вместимость до 80 человек</em></p>
                                </blockquote>

                            </div>
                        </div>
                        <div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_bounceIn bounceIn vc_btn3-center wpb_start_animation animated">
                            <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-sky" href="http://aviator.city/zal/" title="">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="row-border-wrapper"></div> <div class="vc_row-full-width vc_clearfix"></div>
    </div>

    <div class="row-wrapper  ">
        <div class="vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
            <div class="large-6 columns">
                <div class="vc_column-inner vc_custom_1484923152964">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  animate-text loaded-text">
                            <div class="wpb_wrapper">
                                <blockquote>
                                    <p style="text-align: right;"><strong>Кабинет</strong></p>
                                    <p style="text-align: right;">Отдельная уютная комната с мягкой мебелью, настоящим камином. Отлично подходит для деловых встреч, переговоров, презентаций, небольших вечеринок, &nbsp;или уютного семейного ужина.</p>
                                    <p style="text-align: right;"><em>Вместимость до 15 гостей</em></p>
                                </blockquote>

                            </div>
                        </div>
                        <div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_bounceIn bounceIn vc_btn3-center wpb_start_animation animated">
                            <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-sky" href="http://aviator.city/kabinet/" title="">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div><div class="large-6 columns">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper img-wrapper   vc_box_border_grey loaded-img"><div class="vc-zoom-wrapper" style="position: relative; overflow: hidden;"><img width="900" height="604" src="http://aviator.city/wp-content/uploads/2017/01/aviator_14-1024x687.jpg" class="vc_single_image-img attachment-large" alt="" srcset="http://aviator.city/wp-content/uploads/2017/01/aviator_14-1024x687.jpg 1024w, http://aviator.city/wp-content/uploads/2017/01/aviator_14-300x201.jpg 300w, http://aviator.city/wp-content/uploads/2017/01/aviator_14-768x515.jpg 768w, http://aviator.city/wp-content/uploads/2017/01/aviator_14-e1497536286543.jpg 600w" sizes="(max-width: 900px) 100vw, 900px"><img src="http://aviator.city/wp-content/uploads/2017/01/aviator_14-1024x687.jpg" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1024px; height: 687px; border: none; max-width: none; max-height: none;"></div></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="row-border-wrapper"></div> <div class="vc_row-full-width vc_clearfix"></div>
    </div>

    <div class="row-wrapper  ">
        <div class="vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
            <div class="large-6 columns">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="row row_inner"><div class="large-12 columns"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div>	<div class="vc_empty_space">
                            <span class="vc_empty_space_inner"></span>
                            <div class="" style="height: 100px"></div>
                        </div>


                        <div class="wpb_single_image wpb_content_element vc_align_left">

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper img-wrapper   vc_box_border_grey loaded-img"><div class="vc-zoom-wrapper" style="position: relative; overflow: hidden;"><img width="900" height="601" src="http://aviator.city/wp-content/uploads/2017/06/004.jpg" class="vc_single_image-img attachment-large" alt="" srcset="http://aviator.city/wp-content/uploads/2017/06/004.jpg 900w, http://aviator.city/wp-content/uploads/2017/06/004-300x200.jpg 300w, http://aviator.city/wp-content/uploads/2017/06/004-768x513.jpg 768w, http://aviator.city/wp-content/uploads/2017/06/004-680x454.jpg 680w" sizes="(max-width: 900px) 100vw, 900px"><img src="http://aviator.city/wp-content/uploads/2017/06/004.jpg" class="zoomImg" style="position: absolute; top: -181.644px; left: -68.0676px; opacity: 0; width: 900px; height: 601px; border: none; max-width: none; max-height: none;"></div></div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div><div class="large-6 columns">
                <div class="vc_column-inner vc_custom_1484923152964">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  animate-text loaded-text">
                            <div class="wpb_wrapper">
                                <blockquote>
                                    <p style="text-align: left;"><strong>СОБЫТИЯ</strong></p>
                                    <p style="text-align: left;">Каждую неделю в AVIATOR играют лучшие диджеи столицы, проходят винные дегустации и мероприятия с участием&nbsp;celebrities . За анонсами и обзорами новостей следите в разделе <strong><a href="http://aviator.city/blog/">Блог</a></strong></p>
                                </blockquote>

                            </div>
                        </div>
                        <div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_bounceIn bounceIn vc_btn3-center wpb_start_animation animated">
                            <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-sky" href="http://aviator.city/blog/" title="">Читать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="row-border-wrapper"></div> <div class="vc_row-full-width vc_clearfix"></div>
    </div>

    <div class="wpb_wrapper">
        <p>Мы работаем ежедневно:</p>
        <ul>
            <li class="detail"><span class="day">пн —&nbsp;</span>15:00 — 03:00</li>
            <li class="detail"><span class="day">вт —&nbsp;</span>15:00 — 03:00</li>
            <li class="detail"><span class="day">ср —&nbsp;</span>15:00 — 03:00</li>
            <li class="detail"><span class="day">чт — 15</span>:00 — 03:00</li>
            <li class="detail"><span class="day">пт —&nbsp;</span>15:00 — 03:00</li>
            <li class="detail"><span class="day">сб —&nbsp;</span>15:00 — 03:00</li>
            <li class="detail"><span class="day">вс —&nbsp;</span>15:00 — 03:00</li>
        </ul>

    </div>


    <div class="wpb_gmaps_widget wpb_content_element">
        <h2 class="wpb_heading wpb_map_heading">Мы здесь, приходите!</h2>	<div class="wpb_wrapper">
            <div class="wpb_map_wraper">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2332.1618996307247!2d49.57009451601883!3d54.230323265830215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x416786f48740149b%3A0xd9b0f2d460a8e0f7!2z0JrQvtC80LzRg9C90LDQu9GM0L3QsNGPINGD0LsuLCAyNywg0JTQuNC80LjRgtGA0L7QstCz0YDQsNC0LCDQo9C70YzRj9C90L7QstGB0LrQsNGPINC-0LHQuy4sIDQzMzUwNA!5e0!3m2!1sru!2sru!4v1528554889606" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    </div>*@